.App {
  text-align: center;
  /* background-color: dodgerblue; */
}
.hoverable {
  color: black;
}
.hoverable:hover {
  cursor: pointer;
  color: dodgerblue;
}

.hoverableButton {
  color: black;
  background-color: lightgrey;
  transition: .3s;
}
.hoverableButton:hover {
  cursor: pointer;
  color: white;
  background-color: grey;
}
